.error {
    color: #bf0707;
}
.font  {
	color: #161616;
	font-family: monospace;
}
#center {               
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);    
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}
.file {
	font-family: monospace;
	color: #bf0707;
	font-size: 14px;
}
hr.line {
	width: 40%;
}
body {
	background: #161616;
	color: #bf0707;
	font-family: monospace;
	text-shadow: 1px 1px 8px #000000;
	font-size: 14px;
  line-height: 14px;		
  padding:0;	
  margin:0;
}

video
{
	position: fixed;
	top: 50%;
	left: 50%;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: -100;
	transform: translateX(-50%) translateY(-50%);
	background-size: cover;
	transition: 1s opacity;
	-webkit-filter: blur(5px);
	-moz-filter: blur(5px);
	-o-filter: blur(5px);
	-ms-filter: blur(5px);
	filter: blur(5px);
}

.blink .cursor:before { content: ""; }
.cursor:before { content: "_"; background: #0f0; color: #0f0; }

#dg-modem {
	display: block;
	line-height: 10px;
	font-size: 10px;
	font-weight: bold;
	white-space: pre;
	;
    color: #0f0;
	background: #161616;
}
a {
	color: #ffffff;
	font-size: 14px;
	text-shadow: 1px 1px 8px #000
}

.icon a:hover {
	  color: #bf0707;
   transition: color 0.3s linear;
   -webkit-transition: color 0.3s linear;
   -moz-transition: color 0.3s linear;
  }

.icon .fa-steam {
  color: white;
}
.icon .fa-steam:hover {
  color: #bf0707;
   transition: color 0.3s linear;
   -webkit-transition: color 0.3s linear;
   -moz-transition: color 0.3s linear;
}

.icon .fa-youtube-play {
  color: white;
}
.icon .fa-youtube-play:hover {
  color: #bf0707;
   transition: color 0.3s linear;
   -webkit-transition: color 0.3s linear;
   -moz-transition: color 0.3s linear;
}

.icon .fa-paypal {
  color: white;
}

.icon .fa-paypal:hover {
  color: #bf0707;
   transition: color 0.3s linear;
   -webkit-transition: color 0.3s linear;
   -moz-transition: color 0.3s linear;
}

.icon .fa-comments {
  color: white;
}


.icon .fa-comments:hover {
  color: #bf0707;
   transition: color 0.3s linear;
   -webkit-transition: color 0.3s linear;
   -moz-transition: color 0.3s linear;
}







a:hover {
	color: #bf0707;
	   transition: color 0.3s linear;
   -webkit-transition: color 0.3s linear;
   -moz-transition: color 0.3s linear;
}
nav > ul,
nav a {
	color: #bf0707;
	list-style:none;
	margin:0;padding:0;
	text-align:center;
	text-shadow: 1px 1px 8px #000;
	text-decoration: none
}

nav > ul > li {
	display:inline-block;
	margin-left: 8px;
	margin-right: 8px;
	padding:0;
	cursor:default;
	text-shadow: 1px 1px 8px #000;
	font-family: 'Qwigley', cursive;
	font-size: 20px
}

nav > ul > li:after {
	content:"|";
	margin:0 8px;
	opacity:.3;
	display: none;
}

nav > ul > li:last-child:after {
	content:"";
	margin:0
}
h1 {
    color: #bf0707;
    display: block;
    margin-top: 30px;
	font-size: 24px
}
nav > ul,
nav a {
	color: #bf0707;
    font-size: 15px;
	list-style:none;
	margin:0;padding:0;
	text-align:center;
	text-shadow: 1px 1px 8px #000;
	text-decoration: none
}

nav > ul > li {
	display:inline-block;
	margin-left: 8px;
	margin-right: 8px;
	padding:0;
	cursor:default;
	text-shadow: 1px 1px 8px #000;
	font-family: 'Qwigley', cursive;
	font-size: 20px
}

nav > ul > li:after {
	content:"|";
	margin:0 8px;
	opacity:.3
}

nav > ul > li:last-child:after {
	content:"";
}

pre {
	font-size: 14px;
    text-align: center;
	text-shadow: 1px 1px 8px #000;
	font-family: 'Happy Monkey', cursive;
}

i {
	color: #111111;
	font-size: 14px;
    text-align: center;
}

.death {
		text-shadow: 0 0 3px #000000;
      animation: colorchange 10s; 
         
      -webkit-animation: colorchange 10s; 
	  animation-iteration-count: infinite;
	  animation-direction: alternate;
	  
    }
	
	    @keyframes colorchange
    {
      0%   {COLOR: #885ead;}
      25%  {COLOR: white;}
      50%  {COLOR: #885ead;}
      75%  {COLOR: white;}
      100% {COLOR: #885ead;}
	  
    }

    @-webkit-keyframes colorchange 
    {
      0%   {COLOR: #885ead;}
      25%  {COLOR: white;}
      50%  {COLOR: #885ead;}
      75%  {COLOR: white;}
      100% {COLOR: #885ead;}
    }
	
.deathtitle {
		font-size: 18px;
		text-shadow: 0 0 20px #ff69b4;
      animation: colorchange2 10s; 
      -webkit-animation: colorchange2 10s; 
	  animation-iteration-count: infinite;
	  animation-direction: alternate;
	  
    }
	
	@keyframes colorchange2
    {
      0%   {COLOR: #ff69b4;}
      25%  {COLOR: white;}
      50%  {COLOR: #ff69b4;}
      75%  {COLOR: white;}
      100% {COLOR: #ff69b4;}
	  
    }

    @-webkit-keyframes colorchange2 
    {
      0%   {COLOR: #ff69b4;}
      25%  {COLOR: white;}
      50%  {COLOR: #ff69b4;}
      75%  {COLOR: white;}
      100% {COLOR: #ff69b4;}
	  
    }
	
	
@-webkit-keyframes fadeInUpD2 {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInUpD2 {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInUpD2 {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}


@-webkit-keyframes fadeInUpD1 {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInUpD1 {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInUpD1 {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}
	
#marquee {
    width: 300px;
    overflow: hidden;
    display: inline-block;
    margin-bottom: -3px;
	color: #ffffff;
}

input[type=range] {
  height: 5px;
  -webkit-appearance: none;
  margin: 0.5% 0;
  width: 65%;
  background: none;
  border: none;
  position: absolute;
  left: 18%;
  }
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 7px;
  cursor: pointer;
  animation: 0.2s;
  box-shadow: 0px 0px 25px #bf0707;
  background: #bf0707;
  border-radius: 14px;
  border: 0px solid #000000;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 10px #000000;
  border: 0px solid #000000;
  height: 7px;
  width: 15px;
  border-radius: 14px;
  background: #000000;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: 0px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #bf0707;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 7px;
  cursor: pointer;
  animation: 0.2s;
  box-shadow: 0px 0px 25px #bf0707;
  background: #bf0707;
  border-radius: 14px;
  border: 0px solid #000000;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 10px #000000;
  border: 0px solid #000000;
  height: 7px;
  width: 15px;
  border-radius: 14px;
  background: #000000;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 7px;
  cursor: pointer;
  animation: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #bf0707;
  border: 0px solid #000000;
  border-radius: 28px;
  box-shadow: 0px 0px 10px #bf0707;
}
input[type=range]::-ms-fill-upper {
  background: #bf0707;
  border: 0px solid #000000;
  border-radius: 28px;
  box-shadow: 0px 0px 10px #bf0707;
}
input[type=range]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 0px 0px 10px #000000;
  border: 0px solid #000000;
  height: 7px;
  width: 15px;
  border-radius: 14px;
  background: #000000;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #bf0707;
}
input[type=range]:focus::-ms-fill-upper {
  background: #bf0707;
}

.noselect {
  -webkit-touch-callout: none; 
    -webkit-user-select: none; 
     -khtml-user-select: none; 
       -moz-user-select: none; 
        -ms-user-select: none; 
            user-select: none; 
}

#txt {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);    
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  color: #bf0707;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
}

.cssload-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000000;
  z-index: 999999;
  }
  
  .cssload-container .cssload-item {
    margin: auto;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 49px;
    height: 49px;
    background-color: #530303;
    box-sizing: border-box;
      -o-box-sizing: border-box;
      -ms-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
    box-shadow: 0 0 8px 1px rgba(0,0,0,0.25);
      -o-box-shadow: 0 0 8px 1px rgba(0,0,0,0.25);
      -ms-box-shadow: 0 0 8px 1px rgba(0,0,0,0.25);
      -webkit-box-shadow: 0 0 8px 1px rgba(0,0,0,0.25);
      -moz-box-shadow: 0 0 8px 1px rgba(0,0,0,0.25);
  }
  
  .cssload-container .cssload-moon {
    border-bottom: 10px solid #250404;
    border-radius: 50%;
      -o-border-radius: 50%;
      -ms-border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
    animation: spin 1.15s ease infinite;
      -o-animation: spin 1.15s ease infinite;
      -ms-animation: spin 1.15s ease infinite;
      -webkit-animation: spin 1.15s ease infinite;
      -moz-animation: spin 1.15s ease infinite;
  }
  .glowing {
      -webkit-text-stroke-width: 0px;
     -webkit-text-stroke-color: black;
     text-shadow: 0px 0px 5px #530303,0px 0px 5px #530303,0px 0px 5px #530303,0px 0px 10px #530303,0px 0px 10px #530303;
  }
  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  @-o-keyframes spin {
    from {
      -o-transform: rotate(0deg);
    }
    to {
      -o-transform: rotate(360deg);
    }
  }
  
  @-ms-keyframes spin {
    from {
      -ms-transform: rotate(0deg);
    }
    to {
      -ms-transform: rotate(360deg);
    }
  }
  
  @-webkit-keyframes spin {
    from {
      -webkit-transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg);
    }
  }
  
  @-moz-keyframes spin {
    from {
      -moz-transform: rotate(0deg);
    }
    to {
      -moz-transform: rotate(360deg);
    }
  }